@using netcoreweb.ViewModels
@model netcoreweb.ViewModels.FooterViewModel

<div style="background-color: silver; border: 1px solid gray; color: darkcyan; margin-top: 2px; padding-right: 10px; text-align: right;">

    @Model.CompanyName © @Model.Year

</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@